.coffee-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #49111c;
}
  
.coffee-page p {
    width: 60%;
    margin: 1rem;
}
  
.ingredients-list {
    border-radius: 15px;
    margin: 10px;
    padding: 10px;
}

.ingredients-list ul {
    padding: 10px;
    list-style: circle;
    text-align: start;
  }
  
.ingredients-list li {
    margin: 0.5rem;
}
  
.coffee-page img {
    max-width: 15rem;
    height: auto;
    max-height: 15rem;
    border-radius: 10px;
    background-color: #d6dad8a9;
    padding: 1rem;
}

.not-found-coffee {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #49111c;
}
  
.not-found-coffee h2 {
    margin-top: 2rem;
}