.active {
    font-weight: 700;
}

nav a {
    text-align: center;
    align-self: center;
    justify-self: center;
    margin: 1rem;
    color: #5e503f;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
}
  
